---
const { item } = Astro.props as { item: any };
---

<div class="experiencia">
  <div class="experiencia-header">
    <span>{item.company}</span>
    <span>{item.location}</span>
  </div>
  <div
    class="experiencia-subtitle"
    style="display: flex; justify-content: space-between;"
  >
    <span>{item.role}</span>
    <span>{item.dates}</span>
  </div>
  <ul style="list-style-type: disc">
    {item.bullets.map((b: string) => <li set:html={b} />)}
  </ul>
  <div class="especialidades">
    <b>Specialties:</b>
    {item.specialties}
  </div>
  <div class="habilidades"><b>Skills:</b> {item.skills}</div>
</div>

<style>
  .experiencia {
    margin-bottom: 12pt;
  }
  .experiencia-header {
    display: flex;
    justify-content: space-between;
    font-size: 13pt;
    font-weight: bold;
  }
  .experiencia-subtitle {
    font-size: 12pt;
    font-style: italic;
    margin-bottom: 4pt;
  }
  ul {
    margin: 4pt 0 8pt 20pt;
  }
  li {
    margin-bottom: 2pt;
  }
  .especialidades,
  .habilidades {
    font-size: 12pt;
  }
</style>
